.skills {
    margin: 0 0 9px 0;
    padding: 0;
    width: calc(100%);
    list-style-type: none;
    li {
        list-style-type: none;
        display: block;
        position: relative;
        background-color: #888;
        color: #fff;
        margin: 9px 0;
        transition: width 300ms ease-in-out;
        border-radius: 18px;
        .collapsed & {
            width: 0 !important;
        }
        p {
            padding: 7px;
            margin: 0;
            font-weight: bold;
        }
        span {
            position: absolute;
            right: 15px;
            display: inline-block;
            width: 30px;
            top: 12px;
            text-align: right;
            font-weight: normal;
            color: #fff;
            font-size: 11px;
        }
    }
}
