.nav {
    &__ul {
        display: flex;
        align-items: center;
        justify-content: center;

        list-style-type: none;

        margin: 0;
        padding: 10px;

        overflow: hidden;

        background-color: #3D5467;
    }
    &__li {
        float: left;
        border-right:1px solid #db5461;
        padding: 5px;
    }
}