.nav {
    &__ul {
        display: flex;
        align-items: center;
        justify-content: center;

        list-style-type: none;

        margin: 0;

        overflow: hidden;

        background-color: #3D5467;
    }
    &__li {
        float: left;

        padding: 10px;

        border-right:1px solid #f1edee;
        color: #f1edee;

        font-size: 25px;
    }
}