@import "styles/variables";

.credentials {
    margin: 10px;
    &__h1 {
        font-size: 25px;
        text-align: center;
        color: $caput_mortuum;
        margin: 5px;
    }
    &__h2 {
        font-size: 20px;
        text-align: center;
        color: $caput_mortuum;
    }
}