$desktop_xsm: 400px;
$desktop_sm: 600px;
$desktop_md: 900px;

$padding-horizontal-mobile: 10px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 200px;

$soft_black: #22223B;
$soft_white: #F2E9E4;

$dark_blue: #14213D;
$mustard: #C9ADA7;
$gray: #F2E9E4;