$desktop_xsm: 400px;
$desktop_sm: 600px;
$desktop_md: 900px;

$padding-horizontal-mobile: 10px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 200px;

$indian_red: #db5461;
$dim_gray: #686963;
$morning_blue: #8aa29e;
$black_coral: #3d5467;
$cultured: #f1edee;