$desktop_xsm: 400px;
$desktop_sm: 600px;
$desktop_md: 900px;

$padding-horizontal-mobile: 10px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 200px;

$soft_black: #22223B;
$soft_white: #66CC99;

$dark_blue: #112233;
$mustard: #F0F1F5;
$gray: #F2E9E4;