@import 'styles/variables';

.skills {
    flex-grow: 1;
    height: calc(100vh - 98px);
    padding: 10px;
    background-color: $mustard;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}