@import "styles/variables";

.home {
    display: grid;
    grid-template-columns: 35% 100px calc(65% - 100px);
    padding: 10px;
}

.perfil {
    height: calc(100vh - 20px);
    background-color: $antique_brass;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
}

.menu {
    height: calc(100vh - 20px);
    width: 100px;
    background-color: $xiketic;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
    padding: 10px;
}

.content {
    margin-left: 10px;
    height: calc(100vh - 20px);
    background-color: $antique_brass;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}