@import "styles/variables";

.home {
    display: grid;
    grid-template-columns: 1fr 0.3fr 3fr;
    gap: 10px;
    padding: 10px;
}

.perfil {
    height: calc(100vh - 20px);
    background-color: $antique_brass;
}

.menu {
    height: calc(100vh - 20px);
    background-color: $antique_brass;
}

.content {
    height: calc(100vh - 20px);
    background-color: $antique_brass;
}