@import "styles/variables";

h3 {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: $dark_blue;
    color: $soft_white;
}
p {
    text-align: left;
    padding: 10px;
}
.card {
    &__a {
        text-align: center;
        padding: 20px;
        background-color: $dark_blue;
        border-radius: 0 0 20px 20px;
        text-decoration: none;
        color: $soft_white;
        bottom: 0;
        margin-top: auto;
    }
    &__a:hover {
        color: $mustard;
    }
}
